{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main-faq">

    <div class="faq">
        <h3 class="title-faq">Preguntas Frecuentes</h3>
        <div class="wrapper">
            <!-- pregunta 1 -->
            <div class="parent-tab">
                <!-- <input type="radio" name="tab" id="tab-1" > -->
                <input type="checkbox" id="tab-1">
                <label for="tab-1">
                    <span>¿Puedo llevar mascotas?</span>
                    <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                </label>
                <div class="content">
                    <p> No es posible llevar a tu mascota en el vehículo </p>
                </div>
            </div>

            <!-- pregunta 2 -->
            <div class="parent-tab">
                <!-- <input type="radio" name="tab" id="tab-2"> -->
                <input type="checkbox" id="tab-2">
                <label for="tab-2">
                    <span>¿Cuántas personas pueden viajar en el auto alquilado?</span>

                    <div class="icon"> <i class="fa-solid fa-plus"></i></div>

                </label>
                <div class="content">
                    <p> La cantidad de personas que pueden viajar en el vehiculo dependerá de la
                        capacidad del auto seleccionado </p>
                </div>
            </div>

            <!-- pregunta 3 -->
            <div class="parent-tab">
                <!-- <input type="radio" name="tab" id="tab-3"> -->
                <input type="checkbox" id="tab-3">
                <label for="tab-3">
                    <span>¿Puedo devolver el auto en una oficina diferente de donde tomé el mismo?</span>

                    <div class="icon"> <i class="fa-solid fa-plus"></i></div>

                </label>
                <div class="content">
                    <p> Si, es posible devolver el auto en otra oficina abonando un recargo </p>
                </div>
            </div>

            <!-- pregunta 4 -->
            <div class="parent-tab tab-4">
                <!-- <input type="radio" name="tab" id="tab-4"> -->
                <input type="checkbox" id="tab-4">
                <label for="tab-4">
                    <span> Métodos de pago y reservas </span>

                    <div class="icon"> <i class="fa-solid fa-plus"></i></div>

                </label>
                <div class="content">
                    <!-- subpregunta 1 -->
                    <div class="child-tab">
                        <input type="checkbox" id="tab-5">
                        <label for="tab-5">
                            <span>¿De qué manera puedo abonar el alquiler del auto?</span>

                            <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                        </label>

                        <div class="sub-content">
                            <p> Puede abonar a través de tarjeta de crédito, débito, Mercado Pago, Efectivo (En la
                                oficina)</p>
                        </div>
                    </div>

                    <!-- subpregunta 2 -->
                    <div class="child-tab">
                        <input type="checkbox" id="tab-6">
                        <label for="tab-6">
                            <span>¿Cuál es el monto para realizar una reserva?</span>

                            <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                        </label>

                        <div class="sub-content">
                            <p>Se debe abonar el 15% de la tarifa en concepto de reserva</p>
                        </div>
                    </div>

                    <!-- subpregunta 3 -->
                    <div class="child-tab">
                        <input type="checkbox" id="tab-7">
                        <label for="tab-7">
                            <span>¿Se devuelve la seña abonada en caso de que cancele la reserva?</span>

                            <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                        </label>

                        <div class="sub-content">
                            <p>La seña no se devuelve, aunque se puede trasladar el monto abonado en concepto de
                                seña para una futura reserva</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- pregunta 5 -->
            <div class="parent-tab">
                <!-- <input type="radio" name="tab" id="tab-8"> -->
                <input type="checkbox" id="tab-8">
                <label for="tab-8">
                    <span>¿Qué costo tiene un conductor adicional?</span>
                    <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                </label>
                <div class="content">
                    <p> Los conductores adicionales son sin cargo. Los mismos deben poseer la Licencia de
                        Conducir vigente </p>
                </div>
            </div>

            <!-- pregunta 6 -->
            <div class="parent-tab">
                <!-- <input type="radio" name="tab" id="tab-9"> -->
                <input type="checkbox" id="tab-9">
                <label for="tab-9">
                    <span>¿Qué ocurre si retiro el auto en un horario más tarde de lo acordado?</span>
                    <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                </label>
                <div class="content">
                    <p> El horario del contrato de alquiler comenzará a correr a partir del horario
                        establecido en la reserva </p>
                </div>
            </div>

            <!-- pregunta 7 -->
            <div class="parent-tab">
                <!-- <input type="radio" name="tab" id="tab-10"> -->
                <input type="checkbox" id="tab-10">
                <label for="tab-10">
                    <span>¿Si devuelvo el auto antes del horario establecido me reembolsarán la diferencia?</span>
                    <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                </label>
                <div class="content">
                    <p> No hay reembolso por devolución del auto antes de la fecha y hora pautada </p>
                </div>
            </div>

            <!-- pregunta 8 -->
            <div class="parent-tab">
                <!-- <input type="radio" name="tab" id="tab-11"> -->
                <input type="checkbox" id="tab-11">
                <label for="tab-11">
                    <span>¿El servicio de limpieza del auto está incluido en la tarifa?</span>
                    <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                </label>
                <div class="content">
                    <p> No, la limpieza corre por cuenta del cliente y el auto debe entregarse en las
                        mismas condiciones en que se recibió </p>
                </div>
            </div>

            <!-- pregunta 9 -->
            <div class="parent-tab">
                <!-- <input type="radio" name="tab" id="tab-12"> -->
                <input type="checkbox" id="tab-12">
                <label for="tab-12">
                    <span>¿El auto de alquiler incluye silla para niños?</span>
                    <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                </label>
                <div class="content">
                    <p> Es posible agregar una silla para niños abonando un cargo adicional</p>
                </div>
            </div>

            <!-- pregunta 10 -->
            <div class="parent-tab tab-13">
                <!-- <input type="radio" name="tab" id="tab-13"> -->
                <input type="checkbox" id="tab-13">
                <label for="tab-13">
                    <span> Combustible del vehículo </span>
                    <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                </label>
                <div class="content">
                    <!-- subpregunta 1 -->
                    <div class="child-tab">
                        <input type="checkbox" id="tab-14">
                        <label for="tab-14">
                            <span>¿Recibiré el auto de alquiler con el tanque lleno?</span>
                            <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                        </label>
                        <div class="sub-content">
                            <p> Si, el vehículo se entrega con el tanque lleno y debe devolverse de la misma manera
                            </p>
                        </div>
                    </div>

                    <!-- subpregunta 2 -->
                    <div class="child-tab">
                        <input type="checkbox" id="tab-15">
                        <label for="tab-15">
                            <span>¿Qué tipo combustible utiliza el auto de alquiler?</span>
                            <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                        </label>
                        <div class="sub-content">
                            <p>Todos los vehiculos utilizan nafta como combustible</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- pregunta 11 -->
            <div class="parent-tab">
                <!-- <input type="radio" name="tab" id="tab-16"> -->
                <input type="checkbox" id="tab-16">
                <label for="tab-16">
                    <span>¿Cómo se procederá en el caso de que el cliente fuera multado en un auto alquilado?</span>
                    <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                </label>
                <div class="content">
                    <p> El cliente puede abonar por sí mismo la multa, o en caso de que la empresa
                        prestadora deba abonar la multa, se le adicionará un 10% de recargo en concepto de tasas
                        administrativas</p>
                </div>
            </div>

            <!-- pregunta 12 -->
            <div class="parent-tab">
                <!-- <input type="radio" name="tab" id="tab-17"> -->
                <input type="checkbox" id="tab-17">
                <label for="tab-17">
                    <span>¿Cuáles son los procedimientos que debo seguir en el caso de accidente, robo o
                        hurto?</span>
                    <div class="icon"> <i class="fa-solid fa-plus"></i></div>
                </label>
                <div class="content">
                    <p> En el caso de ocurrir algún tipo de accidente con el auto alquilado, o en el caso de
                        ocurrir hurto o robo en el período del alquiler, se debe informar el hecho inmediatamente a
                        la empresa por medio de la Asistencia a Clientes</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}